{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier la catégorie</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_category_index') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ form_end(form) }}
    </div>
{% endblock %} 